
BitacoraTemp.txt
Activador.exe
Bitacora.txt
craccwizard.bmp
craxddrt.dep
craxddrt.dll
craxddrt_res_en.dll
craxdrt.dep
craxdrt.dll
craxdrt_res_en.dll
craxdui.dll
craxdui_res_en.dll
crdesignerctrl.dep
CRDesignerCtrl.DLL
crpe32.lib
crpe32m.lib
crviewer.dep
crystalwizard.dll
Desinstalar/IRIMG1.JPG
Desinstalar/IRIMG2.JPG
Desinstalar/IRIMG3.JPG
Desinstalar/Thumbs.db
Desinstalar/uninstall.dat
Desinstalar/uninstall.xml
ding.wav
EasyTimer Admin old.exe
EasyTimer Admin.exe
EasyTimer Terminal.exe
EasyTimer.txt
EasyTimer_Setup_64Bits.exe
event.log
fbclient.dll
GrFingerX.dll
Instalación EasyTimer.txt
MSDERUN.DLL
NoPictureMen.jpg
RELOJ INIT old.FDB
Reportes/Asistencia Agrupado.rpt
Reportes/Asistencia.rpt
Reportes/Asistencia01.rpt
Reportes/Ausentismo.rpt
Reportes/Depto.rpt
Reportes/DeptoAgrupado.rpt
Reportes/Deptos.rpt
Reportes/Empleado.rpt
Reportes/EmpleadoAgrupado.rpt
Reportes/EmpleadoHE.rpt
Reportes/EmpleadoHEAgrupado.rpt
Reportes/Empleados.rpt
Reportes/EmpleadosHE.rpt
Reportes/FichaEmpleado.rpt
Reportes/Gafete.rpt
Reportes/Grupo.rpt
Reportes/GrupoAgrupado.rpt
Reportes/HeadCount.rpt
Reportes/Historial.rpt
Reportes/Incidencias.rpt
Reportes/IncidenciasEmpleado.rpt
Reportes/IncidenciasGrupo.rpt
Reportes/IncidenciasSupervisor.rpt
Reportes/IncidenciasTurno.rpt
Reportes/Lista  empleados sup.rpt
Reportes/Nombre.rpt
Reportes/NombreG.rpt
Reportes/Proyecto Horas.rpt
Reportes/Proyecto.rpt
Reportes/ProyectoAgrupado.rpt
Reportes/Reporte Ausentismo.rpt
Reportes/Reporte.rpt
Reportes/Supervisor.rpt
Reportes/SupervisorAgrupado.rpt
Reportes/Supervisores.rpt
Reportes/Tipo.rpt
Reportes/TipoAgrupado.rpt
Reportes/Turno.rpt
Reportes/TurnoAgrupado.rpt
Reportes/Turnos.rpt
